body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    
}
.mission-2022{
    color: orangered;
    font-family: 'Lobster', cursive;
}
h1{
    font-size: 50px;
    font-weight: 700;
    
}.stay-focus{
    font-weight: 900;
    font-weight: bold;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
}
    
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 206, 71), rgb(255, 72, 0));
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}
.heading-allign{
    text-align: center;
    color: tomato;
}
.span-mission{
    color: rgb(49, 173, 255);
}
.experience-area{
    
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    background-image: linear-gradient( rgb(198, 248, 248), rgb(193, 193, 255))
    
}
.box-color{
    background-image: linear-gradient(rgb(231, 203, 198), rgb(252, 202, 211));
}
.first-box-color{
    background-image: linear-gradient(rgb(255, 226, 226), rgb(250, 228, 187));
}
#border-left-color{
    border-left: 7px solid;
     border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;}
    #border-color{
        border-left: 7px solid;
        border-image: linear-gradient( rgb(248, 122, 143), rgb(255, 51, 0));
        border-image-slice: 1;
    }
    #border-first{
        border-left: 7px solid;
        border-image: linear-gradient( green, red);
        border-image-slice: 1;
    }
    img{
        width: 50%;  
    }
    .half-width{
        width: 60%;
        padding-left: 5px;
    }
    .half-width img{
        width: 60%;
    }
    .text-allign{
        text-align: justify;
    }
    .link-two{
        text-decoration: none;
        background-image: linear-gradient(rgba(255, 0, 0, 0.746), rgb(255, 182, 45));
        padding: 10px;
        border-radius: 7px;
        color: white;
        font-weight: bold;
    }
    .stay-focus{
        color: black;
    }
    .line-border{
        border-left: 5px solid;
        color: palevioletred;
        border-image-slice: 1;
    }
    .text-global{
        text-align: justify
    }
    .last-button{
        text-decoration: none;
        background-image: linear-gradient(rgba(255, 156, 75, 0.746), rgb(248, 61, 61));
        padding: 10px;
        border-radius: 7px;
        color: white;
        font-weight: bold;
    }
   footer{
       text-align: center;
       background-color: rgb(0, 6, 58);
       padding: 10px;
       color: white;
       margin-bottom: 20px;
      
   }
   .mission-2021{
       font-family: 'Courier New', Courier, monospace;
       font-weight: bold;
       color: rgb(251, 255, 0);
       font-size: 35px;
        }
   .mission{
       color: rgb(255, 255, 255);
   }
   .orange{
       color: orangered;
   }